USE [VentasTelefonosPeru]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 23/07/2025 01:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[codigo_producto] [varchar](50) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[precio_venta] [decimal](10, 2) NULL,
	[costo_venta] [decimal](10, 2) NULL,
	[almacen] [int] NULL,
	[vendidos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedores]    Script Date: 23/07/2025 01:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedores](
	[representante] [varchar](100) NOT NULL,
	[ciudad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[representante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 23/07/2025 01:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[representante] [varchar](100) NULL,
	[codigo_producto] [varchar](50) NULL,
	[unidades] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[productos] ([codigo_producto], [descripcion], [precio_venta], [costo_venta], [almacen], [vendidos]) VALUES (N'B00F3J4B5S', N'Samsung Galaxy A20', CAST(172500.00 AS Decimal(10, 2)), CAST(150000.00 AS Decimal(10, 2)), 7000, 4262)
INSERT [dbo].[productos] ([codigo_producto], [descripcion], [precio_venta], [costo_venta], [almacen], [vendidos]) VALUES (N'B00J0O5J4Y', N'Xiaomi Redmi Note 9', CAST(168300.00 AS Decimal(10, 2)), CAST(153000.00 AS Decimal(10, 2)), 7000, 1150)
INSERT [dbo].[productos] ([codigo_producto], [descripcion], [precio_venta], [costo_venta], [almacen], [vendidos]) VALUES (N'B00K15Q2B0', N'Samsung Galaxy S5', CAST(216720.00 AS Decimal(10, 2)), CAST(172000.00 AS Decimal(10, 2)), 7000, 4153)
GO
INSERT [dbo].[vendedores] ([representante], [ciudad]) VALUES (N'Adrián Vega Ruiz', N'Catacaos')
INSERT [dbo].[vendedores] ([representante], [ciudad]) VALUES (N'Adriana Rodríguez Silva', N'Tacna')
INSERT [dbo].[vendedores] ([representante], [ciudad]) VALUES (N'Alejandro Ortega Salinas', N'Pisco')
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([id], [fecha], [representante], [codigo_producto], [unidades]) VALUES (1, CAST(N'2014-01-01' AS Date), N'Valeria Tapia Castro', N'B00F3J4B5S', 4)
INSERT [dbo].[ventas] ([id], [fecha], [representante], [codigo_producto], [unidades]) VALUES (2, CAST(N'2014-01-02' AS Date), N'Gabriela Rojas Huerta', N'B018IZ0SWI', 2)
INSERT [dbo].[ventas] ([id], [fecha], [representante], [codigo_producto], [unidades]) VALUES (3, CAST(N'2014-01-03' AS Date), N'Diego Morales Castro', N'B01KBH547A', 3)
GO
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([codigo_producto])
REFERENCES [dbo].[productos] ([codigo_producto])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([representante])
REFERENCES [dbo].[vendedores] ([representante])
GO
